minimisation
 &cntrl
   imin = 1, ntmin = 2, maxcyc = 100, ncyc = 20,
   ntwe = 100, ntpr = 10, ntwr = 100,

   ntc = 2, ntf = 1,
   noshakemask = ':L0,L1',

   icfe = 1, ifsc = 1, clambda = %L%, scalpha = 0.5, scbeta = 12.0,
   timask1 = ':1', timask2 = ':2',
   scmask1 = '', scmask2 = ':2@O3,C4,C5,C6,H10,H11,H12'
 /
 &ewald
 / 

